.header {
  display: flex;
  align-items: center;
  height: 15vh;
  margin-left: 8rem;
  margin-top: 2rem;
  position: relative;

  &__logo-box {
    width: 10rem;
  }

  &__logo {
    width: 7rem;
    height: 7rem;
  }
  &__text-box {
    width: 10rem;
  }
  &__title {
    width: calc(100% - 48rem);
    min-width: 20rem;
    color: $color-white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
  }
}

.heading-primary {
  text-transform: uppercase;
  margin: auto;
  font-size: 1.6rem;
  color: $color-white;
  letter-spacing: 3px;
}
