.layout {
  margin-left: 10vw;
  padding-bottom: 2rem;
  &__main-section {
    display: flex;
    border-radius: 1rem;
    min-height: calc(100vh - 22rem);
  }
}

@media screen and (max-width: 1100px) {
  .layout {
    margin-left: auto;
    &__main-section {
      flex-direction: column;
    }
  }
}
