$color-black: #000;
$color-black-light: #171b1e;

$color-grey-light: #f7f7f7dc;
$color-gray-dark: #2b3237;

$color-white: #fff;

$color-red-light: #ee1144;

$margin-small-top: 2rem;

$font-size-default: 1.6rem;
$font-size-large: 2rem;

$font-family-lato: "Lato", sans-serif;
