.margin-small-top {
  margin-top: $margin-small-top;
}

.text-align-center {
  text-align: center;
}

.margin-left-5 {
  margin-left: 5rem;
}

.margin-top-8 {
  margin-top: 8rem;
}

.margin-top-3 {
  margin-top: 3rem;
}
